{% capture string -%}{% endcapture-%}
{% assign string = "this is liquid markup" -%}

{% assign array = string | split: " " -%}

{% assign array = string | join: " " -%}

{{string}}
{{array}}

{% for word in array -%}
	{{word}}
{% endfor -%}

{module_webapps id="bios" filter="all" template="" collection="bios"}

<div>{% assign bios-bios2-id = bios.items | map: "name" | join: " " -%}</div>


<hr>

{% assign names = bios.items | map: "bio_id" | join: "," -%}
{% assign names = bios.items | map: "name" | join: "," | split: ",Z"-%}
{{names}}

{% for item in bios.items -%}
	{{item.name}}
{% endfor -%}

<pre>{{bios.items | json}}</pre>