<h2>Tabs & Accordions</h2>

<h3>Default</h3>
{% assign tabAppID = "34305" -%}
{% assign tabClassID = "702228" -%}
{% include "/_System/includes/lib/web-apps/content-widget.inc" -%}

<hr>
<h3>Tabs</h3>
{% assign tabAppID = "34305" -%}
{% assign tabClassID = "702228" -%}
{% assign contentLayout = "tabs" -%}
{% include "/_System/includes/lib/web-apps/content-widget.inc" -%}

<hr>
<h3>Accordion</h3>
{% assign tabAppID = "34305" -%}
{% assign tabClassID = "702228" -%}
{% assign contentLayout = "accordion" -%}
{% include "/_System/includes/lib/web-apps/content-widget.inc" -%}