<!DOCTYPE HTML>
<html>

    <head>
        <title>test</title>
    </head>
    <body>

<div class="row">
	<div class="col-xs-6">
		<div class="alert alert-info">
			Do .liquid file names work?
		</div>
		<div class="alert alert-danger">
			{% include "/test.liquid" -%}
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="alert alert-info">
			Do .liquid logic work?
		</div>		
		<div class="alert alert-danger">
			{% include "/logic.liquid" -%}
		</div>
	</div>
</div>
		
		<hr>

        <p>
			{module_webform id="624519"}<br />
        </p>
		
				
    </body>
</html>