<div class="hidden">{tag_poplets collection="poplets" template=""}</div>
<script type="text/javascript">
         function swap(image) {
             document.getElementById("main").src = image.href;
         }
     </script>
<style>
.catalog-levels{display:none;}
</style>
	<div class="col-md-6">
    	<div class="poplet-images">
        	{% if largeImage != '' -%}
                <div class="image"><a href="{{smallImageUrl}}?Action=thumbnail&Width=1000&Height=400&algorithm=fill_proportional" rel="poplets" onclick="swap(this); return false;"><img src="{{largeImageUrl}}?Action=thumbnail&Width=100&Height=100&algorithm=fill_proportional" width="100%" class="img-responsive"></a></div>
              {% elseif smallImage != '' -%}
                <div class="image"><a href="{{largeImageUrl}}?Action=thumbnail&Width=1000&Height=400&algorithm=fill_proportional" rel="poplets" onclick="swap(this); return false;"><img src="{{largeImageUrl}}?Action=thumbnail&Width=100&Height=100&algorithm=fill_proportional" width="100%" class="img-responsive"></a></div>
              {% else -%}
              	<div class="image"><img src="/img/x.png?Action=thumbnail&Width=200&Height=200&algorithm=fill_proportional" width="100%" class="img-responsive"></div>
              {% endif -%}
        	
            {% for item in poplets -%}
                <a href="{{item.path}}?Action=thumbnail&Width=1000&Height=400&algorithm=fill_proportional" rel="poplets" onclick="swap(this); return false;"><img src="{{item.path}}?Action=thumbnail&Width=100&Height=100&algorithm=fill_proportional"></a>
            {% endfor -%}
        </div>
    </div>
	<div class="col-md-6">
    	<div class="image">
        	<a href="{{largeImageUrl}}"><img src="{{largeImageUrl}}?Action=thumbnail&Width=1000&Height=400&algorithm=fill_proportional" class="img-responsive" id="main" width="100%"></a>
            
        </div>
        <img src="{{smallImageUrl}}" class="img-responsive">
        
        
        <ul>
          <li class="price"><strong>{{salePrice}}</strong></li>
          <li class="instock">In stock: <strong>{{inStock}}</strong></li>
          <li class="quantity">
          
          {tag_capturedetails, Options}
          
          <!--Options<br>
          <textarea id="catProdInstructions_{{id}}" class="productTextarea">{module_url param="desc"}</textarea>-->
          	<label>Quantity</label>
            {tag_addtocartinputfield}
            <button class="btn btn-primary" onclick="AddToCart({{catalogId}},{{id}},'',4,'','',false);return false;">Add to Cart</button>
          </li>
        </ul>
        <div class="description">{{description}}</div>
    </div>



<!--<div class="row">
	<div class="col-md-6">
    	<div class="image">
        	<a href="/img/nathan.png" class="fancy"><img src="{{largeImageUrl}}" class="img-responsive"></a>
            <div class="poplets">{tag_poplets}</div>
        </div>
    </div>
	<div class=" col-md-6">
    	<h2>{tag_name}</h2>
    	<ul>
          <li class="price"><strong>{tag_saleprice}</strong></li>
          <li class="instock">In stock: <strong>{tag_instock}</strong></li>
          <li class="quantity">
          	{tag_addtocartinputfield}
            <button class="btn btn-primary" onclick="AddToCart({{catalogId}},{{id}},'',4,'','',false);return false;">Add to Cart</button>
          </li>
        </ul>
        <div class="description">{tag_description}</div>
    </div>
</div>

-->