{tag_cataloguelist,4,,,,,true collection="catalog" template=""}

<div class="shop-main clear">
  <div class="header clear">
    <div class="breadcrumbs"><a href="/store">Store</a> > {tag_cataloguebreadcrumbs}</div>
    <div class="cart-summary">{module_shoppingcartsummary,horizontal}</div>
  </div>
  <div class="body clear">
  	<div class="row">
    	<div class="col-md-12">

        
        {% if catalog.items == null %}
        {% else -%}
        	<div class="catalog-levels">
                {% for item in catalog.items -%}
                    <div class="col-xs-3 catalog-list">
                        <a href="{{item.url}}">
                        {% if item.imageUrl != '' %}
                            <img src="{{item.imageUrl}}?Action=thumbnail&Width=200&Height=200&algorithm=fill_proportional" width="100%">
                        {% else %}
                            <img src="https://placeholdit.imgix.net/~text?txtsize=30&txt=Not+Available&w=200&h=200" width="100%">
                        {% endif %}
                        <h4>{{item.name}}</h4>
                        </a>
                    </div>
                {% endfor -%}
            </div>
       {% endif -%}
       
    </div>
    <div class="col-md-12">
        <div class="row">
            {tag_productlist,4,,20,,true,true}
            {% comment -%} 
            {tag_productlist template="" collection="products"}
            <pre>{{products | json}}</pre>
            {% if products.items -%}
                <div class="jumbotron">
                    <h2>{module_pagename}</h2>
                    {{description}}
                </div>
            {% else -%}
                <h2>{module_pagename}</h2>
            {% endif -%}
            {% for product in products.items -%}
            	
            
            	<div class="col-sm-4">
                    <div class="shop-product-small">
                    <a href="{{product.url}}">
                          {% if product.smallImage != '' -%}
                            <div class="image"><img src="{{product.smallImage}}?Action=thumbnail&Width=200&Height=200&algorithm=fill_proportional" width="100%" class="img-responsive"></div>
                          {% elseif product.largeImage != '' -%}
                            <div class="image"><img src="{{product.smallImage}}?Action=thumbnail&Width=200&Height=200&algorithm=fill_proportional" width="100%" class="img-responsive"></div>
                          {% else -%}
                          <div class="image"><img src="/assets/img/x.png?Action=thumbnail&Width=200&Height=200&algorithm=fill_proportional" width="100%" class="img-responsive"></div>
                          {% endif -%}
                          </a>
                          <h4>
                            <a href="{{product.url}}">{{product.name}} - {{product.productid}}</a>
                            {% capture isloggedin -%}{module_isloggedin}{% endcapture -%}
                            
                                {tag_addtofavorites,, collection="fav" template=""}
                               {% if isloggedin == 1 -%} 
                                  {% if fav.isFavorite == "false" -%}
                                      <a href="{{fav.addUrl}}" class="favoritelink fav fav-add fav{{product.id}}"><i class="fa fa-heart-o"></i></a>
                                  {% else -%}
                                    <a href="{{fav.removeUrl}}" class="favoritelink fav fav-remove fav{{product.id}}"><i class="fa fa-heart"></i></a>
                                  {% endif -%}
                              {% else -%}
                                <a href="{{fav.addUrl}}" class="fav fav{{product.id}}"><i class="fa fa-heart-o"></i></a>
                              {% endif -%}
                          </h4>
                          <strong class="price">{{salePrice | default: "Price Unavailable" }}</strong>
                      
                      <button class="btn btn-primary" onclick="AddToCart({{product.catalogId}},{{product.id}},'',4,'','',false);return false;">Add to Cart</button>
                    </div>
                </div>
            
            
            {% endfor -%}
            {% endcomment -%}
        </div>
    </div>
  </div>
  <div class="footer clear">{tag_previouspage,<img src="/CatalystImages/module_previous.png"/>} {tag_nextpage,<img src="/CatalystImages/module_next.png"/>} <br>
    <br>
    {tag_pagination}</div>
	</div>
{module_webapps id="31771" filter="classified" itemId="699573"} 
{% include "/_System/includes/shop/browse-panel.inc" -%}
{% if panelShow == true -%}
<div class="sidebar-section">
{tag_browsepanel,true,false,true}



</div>
{% endif -%}



