{tag_cataloguelist,4,,,,,true collection="catalog" template=""}

<div class="shop-main clear">
  <div class="header clear">
    <div class="breadcrumbs"><a href="/store">Store</a> > {tag_cataloguebreadcrumbs}</div>
    <div class="cart-summary">{module_shoppingcartsummary,horizontal}</div>
  </div>
  <div class="body clear">
  	<div class="row">
    	<div class="col-md-12">
        <h2>{module_pagename}</h2>
        
        {% if catalog.items == null %}
        {% else -%}
        	<div class="catalog-levels">
                <div class="row">
                {% for item in catalog.items -%}
                    <div class="col-xs-3 catalog-list">
                        <a href="{{item.url}}">
                        {% if item.imageUrl != '' %}
                            <img src="{{item.imageUrl}}?Action=thumbnail&Width=200&Height=200&algorithm=fill_proportional" width="100%">
                        {% else %}
                            <img src="https://placeholdit.imgix.net/~text?txtsize=30&txt=Not+Available&w=200&h=200" width="100%">
                        {% endif %}
                        <h4>{{item.name}}</h4>
                        </a>
                    </div>
                {% endfor -%}
                </div>
            </div>
       {% endif -%}
       </div>
       
    </div>
    <div class="col-md-12">
        <div class="row">
            {tag_productlist,4,,10,,true,true}
        </div>
    </div>
  </div>
  <div class="footer clear">{tag_previouspage,<img src="/CatalystImages/module_previous.png"/>} {tag_nextpage,<img src="/CatalystImages/module_next.png"/>} <br>
    <br>
    {tag_pagination}</div>
	</div>
{module_webapps id="31771" filter="classified" itemId="699573"} 
{% include "/_System/includes/shop/browse-panel.inc" -%}
{% if panelShow == true -%}
<div class="sidebar-section">
{tag_browsepanel,true,false,true}
</div>
{% endif -%}