<!DOCTYPE html>{% capture page_url -%}{module_pageaddress}{% endcapture -%}
{% capture site_url -%}http://{module_sitehost}/{% endcapture -%}
{% capture isloggedin -%}{module_isloggedin}{% endcapture -%}
<!--START HEADER-->

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Untitled Document</title>


<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="https://rawgit.com/FortAwesome/Font-Awesome/master/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">
<link href="/css/nav.css" rel="stylesheet">
<link href="/css/webticker.css" rel="stylesheet">
<link href="/css/template.css" rel="stylesheet">
<link href="https://rawgit.com/takien/jPushMenu/master/css/jPushMenu.css" rel="stylesheet">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/takien/jPushMenu/master/js/jPushMenu.js"></script>
<script type="text/javascript" src="/js/jquery.webticker.js"></script>
<script type="text/javascript" src="http://malsup.github.io/jquery.cycle2.js"></script>
<script type="text/javascript" src="http://malsup.github.io/min/jquery.cycle2.carousel.min.js"></script>

<link rel="stylesheet" href="https://rawgit.com/jellekralt/Responsive-Tabs/master/css/responsive-tabs.css">
<script type="text/javascript" src="https://rawgit.com/jellekralt/Responsive-Tabs/master/js/jquery.responsiveTabs.min.js"></script>




<!-- Add fancyBox -->
<link rel="stylesheet" href="/js/fancy/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/js/fancy/jquery.fancybox.pack.js?v=2.1.5"></script>


<script type="text/javascript" src="/js/javascript.js"></script>
</head>
<body>

<div class="nav-mobile cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
    <div class="search">
        <form name="catsearchform11819" method="post" action="/Default.aspx?SiteSearchID=3896&amp;PageID=16462607">
            <div class="input-group">
                <input class="form-control" type="text" name="CAT_Search" id="CAT_Search" placeholder="Search">
                <span class="input-group-addon"><input type="submit" value=""><i class="fa fa-search"></i></span>
            </div>
        </form>
    </div>
    {module_menu, version="2", menuId="1931027", moduleTemplateGroup="Accordion"} 
    {%comment-%}<!--Replace the abov Menu ID with the correct ID.-->{%endcomment-%}
</div>
<div class="bg">
<div class="header-line"></div>
<div class="header clearfix">
	<div class="container">
        <div class="col-md-3"><div class="logo"><a href="/" title="{module_sitename}">{module_sitename}</a></div></div>
        <div class="col-md-9 header-text">
        	<div class="phone pull-left">
                <span class="hidden-xs">Toll Free: (800) 401–4277
                    {% if isloggedin == 1 -%}
                        Welcome, {module_username}. {module_logout} | {module_webapps id="34049" filter="all"}
                    {% else -%}
                        <a href="#login" class="various btn btn-default">Login</a>
<div id="signup" style="display:none;width:500px;">
<a href="#login" class="various btn btn-default">Cancel</a>
{module_webform id="501228"}</div>
                        <div id="login" style="display:none;width:500px;">
                            <div class="secure-login">
                                <h3>LOGIN</h3>
                                <form name="catseczoneform76507" onsubmit="return checkWholeForm76507(this)" method="post" action="https://envoc.worldsecuresystems.com/ZoneProcess.aspx?ZoneID=51&amp;Referrer={module_siteUrl,true,true}&amp;OID={module_oid}&amp;OTYPE={module_otype}">
                                    <div class="form">
                                        <div class="item">
                                            <label for="SZUsername">Username</label>
                                            <br />
                                            <input class="cat_textbox_small" type="text" name="Username" id="SZUsername" maxlength="255"> </div>
                                        <div class="item">
                                            <label for="SZPassword">Password</label>
                                            <br />
                                            <input class="cat_textbox_small" type="password" name="Password" id="SZPassword" maxlength="255" autocomplete="off"> </div>
                                        <div class="item">
                                            <input type="checkbox" name="RememberMe" id="RememberMe">
                                            <label for="RememberMe">Remember Me</label>
                                        </div>
                                        <div class="item">
                                            <input class="cat_button" type="submit" value="Log in">&nbsp;<a href="/_System/SystemPages/PasswordRetrieveRequest">Lost password?</a> </div>
                                    </div>
                                    <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b1766.r468257-phase1"></script>
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        function checkWholeForm76507(theForm) {
                                                var why = "";
                                                if (theForm.Username) why += isEmpty(theForm.Username.value, "Username");
                                                if (theForm.Password) why += isEmpty(theForm.Password.value, "Password");
                                                if (why != "") {
                                                    alert(why);
                                                    return false;
                                                }
                                                theForm.submit();
                                                return false;
                                            }
                                            //]]>
                                    </script>
                                </form>
<a href="#signup" class="various">Signup</a>
                            </div>
                            <br /> </div>
                    {% endif -%}
                </span>
                <a href="tel:1-800-401-4277" class="pull-right btn btn-primary hidden-sm hidden-md hidden-lg toggle-menu menu-right push-body"><i class="fa fa-phone"></i></a>
                <a class="nav-mobile-control btn btn-primary pull-right hidden-sm hidden-md hidden-lg toggle-menu menu-right push-body"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>
    <div class="navigation col-md-12 hidden-xs">
        <div class="container navigation-inner main-nav clearfix">
            {module_menu, version="2", menuId="1931027", moduleTemplateGroup="stripped"}
            {%comment-%}<!--Replace the abov Menu ID with the correct ID.-->{%endcomment-%}
        </div>
    </div>
</div>
{% if page_url == site_url %}<div class="page-header"></div>{% endif -%}
