<div class="row">
	<div class="col-sm-12">
    	<div class="featured"><a href="{{url}}" title="{{title}}"><img src="{{postFeaturedImage}}?Action=thumbnail&Width=1000&Height=300&algorithm=fill_proportional" class="img-responsive" alt="{{title}}"></a></div>
    	<h2 title="{{title}} - {{date | date: "MM\\dd\\yyyy" }}"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
        <div class="meta">
            <div class="date">{{date | date: "MM\\dd\\yyyy" }}</div>
            <div class="sharing">
            	{% include "/_System/includes/widgets/share.inc" -%}
            </div>
        </div>
        {module_data resource="blogposts" version="v3" fields="tag" subresource="tags" resourceId="{tag_blogpostid}" skip="0" limit="10" order="objectType" collection="postTags"}
			<div class="tags">
            Tags: 
            <ul> 
                {% for item in postTags.items -%}
                    <li><a href="/blog/retreivepostsbytag?tagid={{item.tag.id}}"># {{item.tag.tagName}}</a></li>
                {% endfor -%}
            </ul>
        </div>
        <div class="text">{{body | strip_html | truncate: 200 }}</div>
        <a href="{{url}}" class="btn btn-default" title="{{title}} - {{date | date: "MM\\dd\\yyyy" }}">Read More</a>
    </div>
</div>
<hr>