<div class="row">
	<div class="col-sm-12">
    	<div class="featured"><img src="{{postFeaturedImage}}?Action=thumbnail&Width=1000&algorithm=fill_proportional" class="img-responsive"></div>
    	<h2 title="{{title}} - {{date | date: "MM\\dd\\yyyy" }}">{{title}}</h2>
        <div class="meta">
            <div class="date">{{date | date: "MM\\dd\\yyyy" }}</div>
            <div class="sharing">
            	{% include "/_System/includes/widgets/share.inc" -%}
            </div>
        </div>
        <div class="text">{{body}}</div>
    </div>
</div>
<div class="meta">
	{module_data resource="blogposts" version="v3" fields="tag" subresource="tags" resourceId="{tag_blogpostid}" skip="0" limit="10" order="objectType" collection="postTags"}
        <div class="tags">
            Tags: 
            
            {module_data resource="blogposts" version="v3" fields="blog" resourceId="{tag_blogpostid}" skip="0" limit="10" order="id" collection="blogInfo"}
            <ul> 
                {% for item in postTags.items -%}
                    {% assign urlValue = url | split:'/' | join:',' -%}
                    <li><a href="{{blogInfo.blog.blogUrl}}/tag/{{item.tag.tagName | split: ' ' | join: '_'}}/">{{item.tag.tagName}}</a></li>
                {% endfor -%}
            </ul>
        </div>
</div>

<div class="blog-post">
<!-- BEGIN #comments -->
  <a name="comments"></a>
  <div class="comment-list">
    <h5> Comments</h5>
    {tag_commentspaged}
    <hr />
    <form onsubmit="return checkWholeForm(this)" action="/RatingProcess.aspx?OID={tag_blogpostid}&amp;OTYPE={tag_blogposttype}" method="post">
      <h5> Post a Comment</h5>
      <div class="form">
        <div class="item">
          <label> Name (optional)</label>
          <br />
          <input maxlength="255" name="fullname" class="cat_textbox_small" />
        </div>
        <div class="item">
          <label> Website (optional)</label>
          <br />
          <input maxlength="255" name="website" class="cat_textbox_small" />
        </div>
        <div class="item">
          <label> Email Address (optional)</label>
          <br />
          <input maxlength="255" name="emailaddress" class="cat_textbox_small" />
        </div>
        <div class="item">
          <label> Enter Word Verification in box below</label>
          <br />
          {module_captchav2}
        </div>
        <div class="item">
          <label> Your comment</label>
          <br />
          <textarea name="Feedback" class="cat_listbox_small"></textarea>
        </div>
        <div class="item">
          <input type="submit" value="Submit" />
        </div>
      </div>
      <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script>
      <script type="text/javascript">
      //<![CDATA[
      function checkWholeForm(theForm) {
        var why = "";
        if (theForm.EmailAddress) if (theForm.EmailAddress.value.length > 0) why += checkEmail(theForm.EmailAddress.value);
        if (theForm.CaptchaV2) why += isEmpty(theForm.CaptchaV2.value, "Enter Word Verification in box below");
        if (why != "") { alert(why); return false; }
        return true;
      }
      //]]>
      </script>
    </form>
  </div>
  <!-- END #comments -->
   </div>