{% assign mapPhone = '555-555-5555' -%}
{% assign mapAddress = '10000 Perkins Rowe' -%}
{% assign mapCity = 'Baton Rouge' -%}
{% assign mapState = 'Louisiana' -%}
{% assign mapZip = '70710' -%}


<div class="row">
	<div class="col-sm-4">
    	<h4>Static Map</h4>
        <br>
    	{% assign mapViewType = "s" -%}
        {% assign mapWidth = "400" -%}
        {% assign mapHeight = "300" -%}
        {% assign mapZoom = "15" -%}
        {% assign mapType = "terrain" -%}
        
        {% assign hideDirections = false -%}
        {% assign mapAddressFull = '' -%}
        {% include "/_System/includes/widgets/maps/map.inc" -%}
    </div>
	<div class="col-sm-4">
    	<h4>Interactive Map</h4>
        <br>
    	{% assign mapViewType = "i" -%}
        {% assign mapHeight = "300" -%}
        {% assign mapZoom = "15" -%}
        {% assign mapType = "terrain" -%}
        
        {% assign hideDirections = false -%}
        {% assign mapAddressFull = '' -%}
        {% include "/_System/includes/widgets/maps/map.inc" -%}
    </div>
	<div class="col-sm-4">
    	<h4>Full Address</h4>
        <br>
        {% capture mapAddressFull -%}{module_contentholder name="Primary Address"}{% endcapture -%}
        {% assign mapViewType = "i" -%}
        {% assign mapHeight = "300" -%}
        {% assign mapZoom = "15" -%}
        {% assign mapType = "terrain" -%}
        
        {% assign hideDirections = false -%}
        {% include "/_System/includes/widgets/maps/map.inc" -%}
    </div>
</div>

<hr>
<h4>Custom Map Styles</h4>
{% assign mapViewType = "c" -%}
{% assign mapName = 'Test Map' -%}
{% assign pinImage = 'https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png' -%}
{% include "/_System/includes/widgets/maps/map.inc" -%}









