<h2>Tabs</h2>

<h3>Default</h3>
{% assign contentAppID = "34305" -%}
{% include "/_System/includes/lib/web-apps/content-widget.inc" -%}

<hr>
<h3>Tabs</h3>
{% assign contentAppID = "34305" -%}
{% assign contentLayout = "tabs" -%}
{% include "/_System/includes/lib/web-apps/content-widget.inc" -%}

<hr>
<h3>Accordion</h3>
{% assign contentAppID = "34305" -%}
{% assign contentClassID = "702228" -%}
{% assign contentLayout = "accordion" -%}
{% assign tabClasses = "" -%}
{% include "/_System/includes/lib/web-apps/content-widget.inc" -%}