<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{module_pagetitle}</title>
{% include "/_System/includes/template/head.inc" -%}
{% include "/_System/includes/template/settings.inc" -%}


</head>
<body class="{{page_slug}}">
{% capture content -%}{tag_pagecontent}{% endcapture -%}
{% include "/_System/includes/template/header.inc" -%}

{% comment -%}HOME PAGE LAYOUT{% endcomment -%}
{% if page_url == site_domain %}
{% include "/_System/includes/template/home-header.inc" -%}

<div class="content">
    <div class="content-inner container">
        <div class="row">
            <div class="col-md-12">
                {{content}} 
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <h2>Our Services</h2>
        <div class="row">
            {module_webapps id="31767" filter="all" resultsPerPage="3" template="/_System/includes/template-content/sp_list_home.tpl"}
        </div>
    </div>
</div>
<hr>
<div class="box parallax" data-parallax="scroll" data-image-src="/stock-photos/1.jpg">
	<div class="container">
    	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quis, libero ab ad necessitatibus aspernatur rem repellat voluptas nesciunt perferendis veniam architecto iusto tenetur odit deserunt quod fuga animi aliquid!
    </div>
</div>
{% comment -%}INTERNAL PAGE LAYOUT{% endcomment -%}
{% else -%}
<div class="content">
    <div class="container">
    	<div class="content-header text-center"><h3>{module_pagename}</h3></div>
        <div class="content-inner">
            <div class="content-col"> {{content}} </div>
        </div>
    </div>
</div>
{% endif -%}
{% include "/_System/includes/template/footer.inc" -%}
<!--<script type="text/javascript" src="/assets/js/bc-prototype-bug.js"></script>-->
</body>
</html>