<!DOCTYPE html>
<html>
<head>
{% include "/_System/includes/template/head.inc" -%}
{% include "/_System/includes/template/settings.inc" -%}
{% capture content -%}{tag_pagecontent}{% endcapture -%}

</head>
<body class="{{page_slug}}">
{% include "/_System/includes/template/header.inc" -%}
{% if page_url == site_domain %}
{% include "/_System/includes/template/home-header.inc" -%}
<div class="content">
    <div class="content-inner container">
        <div class="row">
            <div class="col-md-12">
                {{content}} 
            </div>
        </div>
    </div>
</div>
<div class="services">
    <div class="container">
        <h2>Our Services</h2>
        <div class="row">
            {module_webapps id="31767" filter="all" resultsPerPage="3" template="/Templates/ContentTemplates/sp_list_home.tpl"}
        </div>
    </div>
</div>
{% else -%}
<div class="content">
    <div class="container">
        <div class="content-header"><h3>{module_pagename}</h3></div>
        <div class="content-inner">
            <div class="content-col"> {{content}} </div>
        </div>
    </div>
</div>
{% endif -%}
{% include "/_System/includes/template/footer.inc" -%}
</body>
</html>