{module_contentholder name="Header"}
<div class="banner">
	<div class="banner-inner">
        <div class="cycle-slideshow" data-cycle-fx="fadeout"  data-cycle-timeout="5000" data-cycle-pause-on-hover="true" data-cycle-slides="> div" data-cycle-pager="#custom-pager" data-cycle-pager-template="<strong><a href=#> {{slideNum}} </a></strong>" data-cycle-auto-height="container">
            {module_webapps render="item" template="/Templates/ContentTemplates/home_header.tpl" id="31770" filter="all" filter="classified" itemId="669308"}
        </div>
    </div>
    <div id="custom-pager" class="controls"></div>
</div>


<div class="content">
    <div class="content-inner container">
        <div class="row">
            <div class="col-md-12">
                {tag_pagecontent} 
            </div>
        </div>
    </div>
</div>
<div class="latest-news">
    	<div class="container">
        	<div class="row">
        		<div class="col-md-2"><h4>Latest News:</h4></div>
                <div class="col-md-8 news-item" id="webticker">
                    <ul>
                    	{module_blogpostlist rowCount="1" template="/Templates/ContentTemplates/blog_list_home.tpl"}
                        <!--{module_blogpostlist,-1,5, template="/Layout;s/Announcement/scroll.html"}-->

                    </ul>
                </div>
                <div class="col-md-2"><a href="/news" class="btn btn-primary">Read More</a></div>
            </div>
        </div>
    </div>
    <div class="services">
    	<div class="container">
        	<h2>Our Services</h2>
            <div class="row">
                {module_webapps id="31767" filter="all" resultsPerPage="3" template="/Templates/ContentTemplates/sp_list_home.tpl"}
            </div>
        </div>
    </div>
{module_contentholder name="Footer"}
<style>
.page-header{display:none;}
</style>