{%include "/lab/bc-template/Templates/template-peices/Header.html"-%}
<div class="banner">
	<div class="banner-inner">
        <div class="cycle-slideshow" data-cycle-fx="fadeout"  data-cycle-timeout="5000" data-cycle-pause-on-hover="true" data-cycle-slides="> div" data-cycle-pager="#custom-pager" data-cycle-pager-template="<strong><a href=#> {{slideNum}} </a></strong>" data-cycle-auto-height="container">
            {module_webapps render="item" template="/ContentTemplates/home_header.tpl" id="25359" filter="all" filter="classified" itemId="639690"}
        </div>
    </div>
    <div id="custom-pager" class="controls"></div>
</div>


<div class="content">
    <div class="content-inner container">
        <div class="row">
            <div class="col-md-6">
                {%include "/lab/bc-template/Templates/template-peices/Generic-Content.html"-%}<!--Replace with {tag_pagecontent}--> 
            </div>
            <div class="col-md-6">
            	<div class="certifications">
                	<h3>Certifications <a href="/about/licensing" class="btn btn-clear pull-right">Read More</a></h3>
                    <div class="certification-list">
                    	{module_webapps id="30188" filter="latest" resultsPerPage="5"}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="latest-news">
    	<div class="container">
        	<div class="row">
        		<div class="col-md-2"><h4>Latest News:</h4></div>
                <div class="col-md-8 news-item">{module_blogpostlist rowCount="1" template="/ContentTemplates/blog_list_home.tpl"}</div>
                <div class="col-md-2"><a href="/news" class="btn btn-yellow">Read More</a></div>
            </div>
        </div>
    </div>
    <div class="services">
    	<div class="container">
        	<h2>Our Services</h2>
            <div class="row">
                {module_webapps render="item" id="25395" filter="classified" itemId="Services" resultsPerPage="3" template="/ContentTemplates/sp_list_home.tpl"}
            </div>
        </div>
    </div>
{%include "/lab/bc-template/Templates/template-peices/Footer.html"-%}
<style>
.page-header{display:none;}
</style>