<!DOCTYPE html>
<html>
<head>

{% include "/_System/includes/template/settings.inc" -%}
{% capture content -%}{tag_pagecontent}{% endcapture -%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style>
.nav{position:fixed; background: rgba(0,0,0, 0.5); top: 0; width:100%;}
.nav a{color: white;
-webkit-transition: .5s all ease-out;
-moz-transition: .5s all ease-out;
transition: .5s all ease-out;
}
.nav li.active a{}

.pages .page:nth-child(even){background:#EEE;}
.page{padding:40px 80px 80px 80px;}
</style>

<script>
// PAGES
$(function () {
  var pageHeight = $(window).height(); 
  $('.page').css('min-height', pageHeight+'px');
  var navHeight = $('.nav').height(); 
  $('.page h1').css('margin-top', navHeight+'px');
  
  
  $('.nav li').first().addClass('active');
// NAVIGATION
$("ul.nav li a[href^='#']").on('click', function(e) {
  // prevent default anchor click behavior
  e.preventDefault();
  // animate
  $('html, body').animate({
    scrollTop: $(this.hash).offset().top
  }, 300, function(){

    // when done, add hash to url
    // (default click behaviour)
    window.location.href = this.hash;
  });
});



  
});
$( window ).resize(function() {
  var pageHeight = $(window).height(); 
  $('.page').css('min-height', pageHeight+'px');
  var navHeight = $('.nav').height(); 
  $('.page h1').css('margin-top', navHeight+'px');
});



// Cache selectors
var lastId,
    topMenu = $(".nav"),
    topMenuHeight = topMenu.outerHeight(),
    // All list items
    menuItems = topMenu.find("a"),
    // Anchors corresponding to menu items
    scrollItems = menuItems.map(function(){
      var item = $($(this).attr("href"));
      if (item.length) { return item; }
    });

// Bind click handler to menu items
// so we can get a fancy scroll animation
menuItems.click(function(e){
  var href = $(this).attr("href"),
      offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
  $('html, body').stop().animate({ 
      scrollTop: offsetTop
  }, 300);
  e.preventDefault();
});

// Bind to scroll
$(window).scroll(function(){
   // Get container scroll position
   var fromTop = $(this).scrollTop()+topMenuHeight;
   
   // Get id of current scroll item
   var cur = scrollItems.map(function(){
     if ($(this).offset().top < fromTop)
       return this;
   });
   // Get the id of the current element
   cur = cur[cur.length-1];
   var id = cur && cur.length ? cur[0].id : "";
   
   if (lastId !== id) {
       lastId = id;
       // Set/remove active class
       menuItems
         .parent().removeClass("active")
         .end().filter("[href=#"+id+"]").parent().addClass("active");
   }                   
});




</script>

</head>
<body class="{{page_slug}}">


<ul class="nav nav-pills nav-justified">
  <li><a href="#home">Home</a></li>     
  <li><a href="#service">Service</a></li>     
  <li><a href="#contact">Contact</a></li>             
</ul>

<div class="container">
<div class="pages">


<div class="page" id="home">
    <h1> Home </h1>
<!-- START SLIPSUM CODE -->

NAO DAT WE KNOE HOO U R, I KNOE HOO IM. IM NOT MISTAEK! IT ALL MAKEZ SENSE! IN COMIC, U KNOE HOW U CAN TELL HOO TEH ARCH-VILLAINS GOIN 2 BE? HEZ TEH EGSAKT OPPOSIET OV TEH HERO. AN MOST TIEMS THEYRE FRENZ, LIEK U AN ME! I SHUDVE KNOWN WAI BAK WHEN... U KNOE Y, DAVID? CUZ OV TEH KIDZ. THEY CALLD ME MISTAH GLAS.

NAO DAT WE KNOE HOO U R, I KNOE HOO IM. IM NOT MISTAEK! IT ALL MAKEZ SENSE! IN COMIC, U KNOE HOW U CAN TELL HOO TEH ARCH-VILLAINS GOIN 2 BE? HEZ TEH EGSAKT OPPOSIET OV TEH HERO. AN MOST TIEMS THEYRE FRENZ, LIEK U AN ME! I SHUDVE KNOWN WAI BAK WHEN... U KNOE Y, DAVID? CUZ OV TEH KIDZ. THEY CALLD ME MISTAH GLAS.

TEH PATH OV TEH RIGHTEOUS MAN IZ BESET ON ALL SIDEZ BY TEH INIQUITIEZ OV TEH SELFISH AN TEH TYRANNY OV EVIL DOODZ. BLESD IZ HE HOO, IN DA NAYM OV CHARITY AN GUD WILL, SHEFERDZ TEH WEAK THRU TEH VALLEY OV DARKNES, 4 HE IZ TRULY HIS BROTHERS KEEPR AN TEH FINDR OV LOST CHILDREN. AN IM GONNA STRIKE DOWN UPON THEE WIF GREAT VENGEANCE AN FURIOUS ANGR DOSE HOO WUD ATTEMPT 2 POISON AN DESTROY MAH BROTHERS. AN U WILL KNOE MAH NAYM IZ TEH LORD WHEN I LAY MAH VENGEANCE UPON THEE.

U FINKZ WATR MOVEZ FAST? U SHUD C ICE. IT MOVEZ LIEK IT HAS MIND. LIEK IT KNOWS IT KILLD TEH WURLD ONCE AN GOT TASTE 4 MURDR. AFTR TEH AVALANCHE, IT TOOK US WEEK 2 CLIMB OUT. NAO, I DOAN KNOE EGSAKTLY WHEN WE TURND ON EACH OTHR, BUT I KNOE DAT 7 OV US SURVIVD TEH SLIDE... AN ONLY 5 MADE IT OUT. NAO WE TOOK AN OATH, DAT IM BREAKIN NAO. WE SED WED SAY IT WUZ TEH SNOW DAT KILLD TEH OTHR 2, BUT IT WUZ NOT. NACHUR IZ LETHAL BUT IT DOESNT HOLD CANDLE 2 MAN.

    
</div>

<div class="page" id="service">

    <h1> Service </h1>
<!-- START SLIPSUM CODE -->

NAO DAT WE KNOE HOO U R, I KNOE HOO IM. IM NOT MISTAEK! IT ALL MAKEZ SENSE! IN COMIC, U KNOE HOW U CAN TELL HOO TEH ARCH-VILLAINS GOIN 2 BE? HEZ TEH EGSAKT OPPOSIET OV TEH HERO. AN MOST TIEMS THEYRE FRENZ, LIEK U AN ME! I SHUDVE KNOWN WAI BAK WHEN... U KNOE Y, DAVID? CUZ OV TEH KIDZ. THEY CALLD ME MISTAH GLAS.

NAO DAT WE KNOE HOO U R, I KNOE HOO IM. IM NOT MISTAEK! IT ALL MAKEZ SENSE! IN COMIC, U KNOE HOW U CAN TELL HOO TEH ARCH-VILLAINS GOIN 2 BE? HEZ TEH EGSAKT OPPOSIET OV TEH HERO. AN MOST TIEMS THEYRE FRENZ, LIEK U AN ME! I SHUDVE KNOWN WAI BAK WHEN... U KNOE Y, DAVID? CUZ OV TEH KIDZ. THEY CALLD ME MISTAH GLAS.

TEH PATH OV TEH RIGHTEOUS MAN IZ BESET ON ALL SIDEZ BY TEH INIQUITIEZ OV TEH SELFISH AN TEH TYRANNY OV EVIL DOODZ. BLESD IZ HE HOO, IN DA NAYM OV CHARITY AN GUD WILL, SHEFERDZ TEH WEAK THRU TEH VALLEY OV DARKNES, 4 HE IZ TRULY HIS BROTHERS KEEPR AN TEH FINDR OV LOST CHILDREN. AN IM GONNA STRIKE DOWN UPON THEE WIF GREAT VENGEANCE AN FURIOUS ANGR DOSE HOO WUD ATTEMPT 2 POISON AN DESTROY MAH BROTHERS. AN U WILL KNOE MAH NAYM IZ TEH LORD WHEN I LAY MAH VENGEANCE UPON THEE.

U FINKZ WATR MOVEZ FAST? U SHUD C ICE. IT MOVEZ LIEK IT HAS MIND. LIEK IT KNOWS IT KILLD TEH WURLD ONCE AN GOT TASTE 4 MURDR. AFTR TEH AVALANCHE, IT TOOK US WEEK 2 CLIMB OUT. NAO, I DOAN KNOE EGSAKTLY WHEN WE TURND ON EACH OTHR, BUT I KNOE DAT 7 OV US SURVIVD TEH SLIDE... AN ONLY 5 MADE IT OUT. NAO WE TOOK AN OATH, DAT IM BREAKIN NAO. WE SED WED SAY IT WUZ TEH SNOW DAT KILLD TEH OTHR 2, BUT IT WUZ NOT. NACHUR IZ LETHAL BUT IT DOESNT HOLD CANDLE 2 MAN.


    
</div>


<div class="page" id="contact">
    <h1> Contact </h1>
<!-- START SLIPSUM CODE -->

NAO DAT WE KNOE HOO U R, I KNOE HOO IM. IM NOT MISTAEK! IT ALL MAKEZ SENSE! IN COMIC, U KNOE HOW U CAN TELL HOO TEH ARCH-VILLAINS GOIN 2 BE? HEZ TEH EGSAKT OPPOSIET OV TEH HERO. AN MOST TIEMS THEYRE FRENZ, LIEK U AN ME! I SHUDVE KNOWN WAI BAK WHEN... U KNOE Y, DAVID? CUZ OV TEH KIDZ. THEY CALLD ME MISTAH GLAS.

NAO DAT WE KNOE HOO U R, I KNOE HOO IM. IM NOT MISTAEK! IT ALL MAKEZ SENSE! IN COMIC, U KNOE HOW U CAN TELL HOO TEH ARCH-VILLAINS GOIN 2 BE? HEZ TEH EGSAKT OPPOSIET OV TEH HERO. AN MOST TIEMS THEYRE FRENZ, LIEK U AN ME! I SHUDVE KNOWN WAI BAK WHEN... U KNOE Y, DAVID? CUZ OV TEH KIDZ. THEY CALLD ME MISTAH GLAS.

TEH PATH OV TEH RIGHTEOUS MAN IZ BESET ON ALL SIDEZ BY TEH INIQUITIEZ OV TEH SELFISH AN TEH TYRANNY OV EVIL DOODZ. BLESD IZ HE HOO, IN DA NAYM OV CHARITY AN GUD WILL, SHEFERDZ TEH WEAK THRU TEH VALLEY OV DARKNES, 4 HE IZ TRULY HIS BROTHERS KEEPR AN TEH FINDR OV LOST CHILDREN. AN IM GONNA STRIKE DOWN UPON THEE WIF GREAT VENGEANCE AN FURIOUS ANGR DOSE HOO WUD ATTEMPT 2 POISON AN DESTROY MAH BROTHERS. AN U WILL KNOE MAH NAYM IZ TEH LORD WHEN I LAY MAH VENGEANCE UPON THEE.

U FINKZ WATR MOVEZ FAST? U SHUD C ICE. IT MOVEZ LIEK IT HAS MIND. LIEK IT KNOWS IT KILLD TEH WURLD ONCE AN GOT TASTE 4 MURDR. AFTR TEH AVALANCHE, IT TOOK US WEEK 2 CLIMB OUT. NAO, I DOAN KNOE EGSAKTLY WHEN WE TURND ON EACH OTHR, BUT I KNOE DAT 7 OV US SURVIVD TEH SLIDE... AN ONLY 5 MADE IT OUT. NAO WE TOOK AN OATH, DAT IM BREAKIN NAO. WE SED WED SAY IT WUZ TEH SNOW DAT KILLD TEH OTHR 2, BUT IT WUZ NOT. NACHUR IZ LETHAL BUT IT DOESNT HOLD CANDLE 2 MAN.
    
</div>
</div>

{{content}}
</div>

</body>
</html>