{%include "/lab/bc-template/Templates/template-peices/Header.html"-%}
<div class="content">
	<div class="container">
        <div class="content-header">
            <h3>{module_pagename}</h3>
        </div>
        <div class="content-inner clearfix">
        	
            <div class="content-col clearfix">
                {%include "/lab/bc-template/Templates/template-peices/GenericContent.html"-%}
            	<!--Replace with {tag_pagecontent}-->  
                
                
                <div class="sidebar-section">Sidebar Goes Here</div>
            </div>
        </div>
    </div>
</div>
{%include "/lab/bc-template/Templates/template-peices/Footer.html"-%}